<div class="container-fluid">
  <footer class="row p-3">
      <div class="col-12 text-center">
        <!-- Parte superior -->
        <ul class="list-inline mb-3">
          <li class="list-inline-item mx-3">
            <a href="#">Condiciones de venta</a>
          </li>
          <li class="list-inline-item mx-3">
            <a href="#">Información legal</a>
          </li>
          <li class="list-inline-item mx-3">
            <a href="#">Política de privacidad</a>
          </li>
          <li class="list-inline-item mx-3">
            <a href="#">Política de cookies</a>
          </li>
          <li class="list-inline-item mx-3">
            <a href="#">Contratos</a>
          </li>
          <li class="list-inline-item mx-3">
            <a href="#">Atención al cliente</a>
          </li>
          <li class="list-inline-item mx-3">
            <a href="#">Trabaja con nosotros</a>
          </li>
        </ul>
      </div>
    
      <!-- Parte inferior -->
      <div class="col-sm-3 offset-sm-1 text-center">
        <p>Copyright &copy; 2018 Delonet.<br>
          Todos los derechos reservados.</p>
      </div>
    
      <div class="col-sm-4 social text-center my-2">
        <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#">
          <i class="fa fa-youtube"></i>
        </a>
        <a href="#">
          <i class="fa fa-vimeo"></i>
        </a>
        <a href="#">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
    
      <div class="col-sm-3 text-center">
        <p>612345678 | 950551234<br>
        C/ Ejemplo 123, Vícar, Almería</p>
      </div>
  </footer>
</div>
