footer .list-inline {
  margin: 0 auto;
}

footer .col {
  text-align: center;
}

footer .col p {
  font-size: .7em;
  margin-bottom: 0;
}

footer .social a {
  font-size: 1.2em;
  padding: 0 .4em;
}

footer {
  background-color: #262626;
  margin-top: 40px;
  margin-right: 0;
  position: absolute;
  bottom: 0;
}

footer a,
footer p,
footer i {
  color: white;
}

footer a:hover {
  color: #2AA3F0;
}

a {
  text-decoration: none;
}