<form [formGroup]="memberForm" (ngSubmit)="member ? modifyMember() : createMember(); bsModalRef.hide(memberForm.value)" novalidate>
  <div class="modal-header">
    <h5 class="modal-title">Nuevo Socio</h5>
    <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-6 form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" autofocus />
      </div>
      <div class="col-6 form-group">
        <label>Apellidos</label>
        <input type="text" class="form-control" formControlName="apellidos" />
      </div>
      <div class="col-6 form-group">
        <label>Dirección</label>
        <input type="text" class="form-control" formControlName="direccion" />
      </div>
      <div class="col-6 form-group">
        <label>Teléfono</label>
        <input type="number" class="form-control" formControlName="telefono" />
      </div>
      <div class="col-6 form-group">
        <label>Email</label>
        <input type="text" class="form-control" formControlName="email" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button *ngIf="!member" [disabled]="submitted || !memberForm.valid" type="submit" class="btn btn-primary">Crear</button>
    <button *ngIf="member" [disabled]="submitted || !memberForm.valid || memberForm.pristine" type="submit" class="btn btn-primary">Modificar</button>
    <button type="button" class="btn btn-outline-secondary" (click)="bsModalRef.hide()">Cancelar</button>
  </div>
</form>