<li *ngIf="!userName" class="nav-item nav-item-last">
    <a class="nav-link" (click)="openLoginModal(loginModal)">Entrar</a>
</li>
<li *ngIf="userName" class="nav-item dropdown">
    <a (click)="logout()" class="nav-link dropdown-toggle" href="#" id="logNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="material-icons">person</i>{{ userName }}
    </a>
</li>

<ng-template #loginModal>
    <div class="modal-header">
        <h4 class="modal-title pl-3">Iniciar sesión</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 offset-sm-2 form-group">
                        <label>Correo electrónico</label>
                        <input class="form-control" type="text" formControlName="email" placeholder="ejemplo@delonet.com">
                    </div>
                    <div class="col-sm-8 offset-sm-2 form-group">
                        <label>Contraseña</label>
                        <input class="form-control" type="password" formControlName="password">
                    </div>
                    <div class="col-sm-8 offset-sm-2 mt-3 text-center">
                        <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Continuar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>