.nav-item {
    margin-left: 20px;
    color: white;

    .nav-link {
        color: white;
        cursor: pointer;
        display: inline-block;
    }

    span {
        position: absolute;
        font-size: .8rem;
        right: .5rem; 
        top: -7px;
    }
}

.nav-item-last {
    position: relative;
}