.navbar {
    background-color: #191919;

    .navbar-brand {
        padding: .2rem 0 .4rem 2rem;
        height: 100%;
        margin: 0 auto;

        .logo {
            max-height: 100%;
            max-width: 130px;
        }
    }

    .nav-item {
        margin: 0 10px;

        .nav-link {
            color: white;
        }
    }

}

.dropdown-menu {
    background-color: #191919;
    border: 0;
    
    .dropdown-item {
        color: white;

        &:hover {
            background-color: #191919;
        }
    }
}