<nav class="navbar navbar-expand-lg navbar-dark" appMenuClose [menu]="menu">
    <a class="navbar-brand" [routerLink]="['/']"><img src="assets/deloSVGwhite.svg" class="img-responsive logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" #menu>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/'">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/clases'">Clases</a>
        </li>
        <li *ngIf="isLogged" class="nav-item">
          <a class="nav-link" [routerLink]="'/reservas'">Reservas</a>
        </li>
        <li *ngIf="isLogged && isAdmin" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administración
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="'admin/socios'">Socios</a>
            <a class="dropdown-item" [routerLink]="'admin/monitores'">Monitores</a>
            <a class="dropdown-item" [routerLink]="'admin/clases'">Clases</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/contacto'">Contacto</a>
        </li>
        <app-login (isAdmin)="onAdminLogin($event)" (isLogged)="onLogin($event)"></app-login>
      </ul>
    </div>
</nav>