<div class="row container-members">
    <div class="col-10 offset-1">
      <div class="card">
        <div class="card-header">
          <h3>Detalles de los socios apuntados</h3>
          <button class="btn btn-primary-outline text-primary" (click)="addMember()" tooltip="Añadir alumnos">
              <i class="material-icons icon-header">
                  person_add
              </i>
          </button>
          <button class="btn btn-primary-outline text-primary" (click)="goBack()" tooltip="Volver a clases">
              <i class="material-icons icon-header">
                  arrow_back
              </i>
          </button>
        </div>
        <div class="card-body">
          <ngx-datatable #mydatatable class="material" [headerHeight]="50" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="50"
            [rows]="classe" [scrollbarV]="true" [scrollbarH]="true" [messages]="my_messages">
            <ngx-datatable-column name="Nombre del socio" prop="nombre"></ngx-datatable-column>
            <ngx-datatable-column name="Email" prop="email"></ngx-datatable-column>
            <ngx-datatable-column name="Telefono" prop="telefono"></ngx-datatable-column>
            <ngx-datatable-column name="Acciones" prop="" [width]="50">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <button class="btn btn-primary-outline actions-buttons" (click)="deleteMember(row)" style="float: none;">
                    <i class="material-icons actions-buttons">
                        delete
                    </i>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>