<div class="row container-members">
    <div class="col-12 col-sm-10 offset-sm-1">
      <div class="card">
        <div class="card-header">
          <h3>Monitores</h3>
          <button class="btn btn-primary-outline text-primary" tooltip="Añadir monitor" (click)="addMonitor()">
              <i class="material-icons icon-header">
                  person_add
              </i>
          </button>
          <button class="btn btn-primary-outline" (click)="openFilter()" tooltip="Filtrar en la tabla">
            <i class="material-icons icon-header">
                search
            </i>
          </button>
          <input *ngIf="openFilterMenu" class="form-control filterMenu" 
          placeholder="Filtrar" (keyup)="onChangeFilter($event)" 
          style="width: 60%; float: right;"
          type="text" [autofocus]="'true'" (focusout)="closeFilter()">
        </div>
        <div class="card-body">
          <md-progress-bar mode="indeterminate" *ngIf="!monitorsFiltered"></md-progress-bar>
          <ngx-datatable *ngIf="monitorsFiltered" #mydatatable class="material" [headerHeight]="50" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="50"
            [rows]="monitorsFiltered" [scrollbarV]="true" [scrollbarH]="true">
            <ngx-datatable-column name="Nombre" prop="nombre"></ngx-datatable-column>
            <ngx-datatable-column name="Apellidos" prop="apellidos"></ngx-datatable-column>
            <ngx-datatable-column name="Email" prop="email" [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="Teléfono" prop="telefono"></ngx-datatable-column>
            <ngx-datatable-column name="Dirección" prop="direccion" [width]="200"></ngx-datatable-column>
            <ngx-datatable-column name="Acciones" prop="">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <div style="display: flex;">
                  <button class="btn btn-primary-outline actions-buttons" (click)="editMonitor(row)">
                    <i class="material-icons">
                        edit
                    </i>
                  </button>
                  <button class="btn btn-primary-outline actions-buttons" (click)="deleteMonitor(row)">
                      <i class="material-icons">
                          delete
                      </i>
                  </button>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>