<div class="modal-header">
  <h5 class="modal-title">Alumnos disponibles</h5>
  <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()" tooltip="Cerrar">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12" *ngIf="classe">
        <div *ngFor="let member of noMembers">
            <input type="checkbox" [value]="member.id_socio" (click)="onChange(member)" [checked]="member.checked" 
            [disabled]="(classe.num_plazas === membersToAdd && member.checked === false) || (members >= classe.num_plazas)">
            <label>{{ member.nombre }}</label>
        </div>
        <div *ngIf="noMembers && !noMembers.length">
          No hay más socios disponibles para añadir a esta clase.
        </div>
    </div>
  </div>
</div>
<div class="modal-footer">
    <button type="button" [disabled]="(noMembers && noMembers.length <= 0) || membersToAdd === members" (click)="addAllMembersToClass(); bsModalRef.hide();" class="btn-actions">
    <i class="material-icons" tooltip="Añadir">
      check
    </i>
  </button>
  <button type="button" class="btn-actions" (click)="bsModalRef.hide()">
    <i class="material-icons"  tooltip="Cancelar">
      arrow_back
    </i>
  </button>
</div>