.calendar {
    max-width: 450px;

    .cal-hour-segment {
        height: 30px;
    }

    .calendar-column {
        text-align: center;
        width: 15%;
        float: left;
        font-size: .75rem;
    }

    .calendar-hours-column {
        text-align: left;
        width: 10%;
        float: left;
        font-size: .75rem;

        .cal-time {
            width: 100%;
            font-weight: 200;
            font-size: .8rem;
        }
    }
}

.datepicker {
    display: flex;
    align-items: center;
}

.calendar-controls {
    display: flex;
    justify-content: center;
}

.calendar-dp {
    text-align: center;
    border: 0;
    height: 0;
    padding: 0;
}

.container { 
    margin-top: 100px;
}