/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

$theme-colors: (
  "primary": #1d8fc7,
  "secondary": #191919
);

@import "node_modules/bootstrap/scss/bootstrap";

// regular style toast 
@import "~ngx-toastr/toastr.css";
 
// if you'd like to use it without importing all of bootstrap it requires 
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~ngx-toastr/toastr-bs4-alert";

// Declaración de variables
$primary-background: #377BB5;
$light-text: #FFF;
$light-background: #FFF;

// Sobreescritura de clases principales de bootstrap
.text-secondary {
    color: #929599;
}
.bg-secondary {
    background-color: #EEEEEE;
}

.btn:focus, .btn.focus {
    box-shadow: none;
}

.btn-actions {
    background-color: $light-background;
    padding: 10px;
    color: black;
    border: none;
    cursor: pointer;
}

.btn-actions:disabled {
    color: #929599;
    cursor: initial;
}
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 150px;
    background-color: #e6ecf0;
}

@media only screen and (max-width: 660px) {
    body {
        margin-bottom: 250px;
    }
}

@media only screen and (max-width: 400px) {
    body {
        margin-bottom: 330px;
    }
}

.cal-event-container {
    margin-left: 0 !important;
    max-width: 100%;
}

.cal-event {
    white-space: initial !important;
    display: flex;
    align-items: center;
    justify-content: center;

    .cal-event-title {
        font-size: .7rem !important;
        color: white !important;
    }
}

.cal-hour {
    min-width: 20px !important;
    max-width: 100% !important;
    background-color: #fafafa;
}

.cal-day-view {
    & .cal-hour-rows {
        overflow: hidden;
    }
}

// Módulo de las tablas (ngx datatable)
.ngx-datatable{
    height: 60vh;
    & .datatable-header-cell:hover {
        // border-bottom: 1.9rem solid #377BB5;
        & .resize-handle {
            border-right: 1px solid #377BB5;
        }
    }
    & .datatable-body .datatable-scroll {
        width: 100% !important;
        & .datatable-row-wrapper, .datatable-body-row, .datatable-row-even {
            width: inherit !important;
        }
    }
    & .material:not(.cell-selection) .datatable-body-row:hover {
        background-color: none;
        cursor: initial;
    }
    & .datatable-body-row {
      border-bottom: 1px solid #efefef;
      & .datatable-body-cell:first-child {
        border-left: 4px solid transparent;
        }
    }
    &:not(.cell-selection) {
        & .datatable-body-row:hover {
            & .datatable-body-cell:first-child {
                border-left: 4px solid #377BB5;
            }
        }
        .datatable-row-group, .datatable-body-cell {
            cursor: initial;
        }
    }
}

// Styling cards to display data of Monitors, members, etc
.container-members{
    margin: 0;
    button {
        float: right;
        background-color: #f7f7f7;
        i {
            font-size: 1.4rem;
        }
    }
    .card{
        margin-top: 30px;
        & .card-header{
            background-color: $primary-background;
            box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
            padding-left: 2.2rem;
            padding-right: 3rem;
            h3 {
                display: inline;
                font-family: roboto;
                font-size: 1.9rem;
                color: $light-text;
            }
            & button {
                padding: 0;
                padding-top: 6px;
                background-color: $primary-background;
                & .icon-header {
                    font-size: 1.6rem;
                    color: $light-text;
                    margin-left: 15px;
                }
            }
        }
        & .card-body {
            padding: 0;
        }
        & .actions-buttons {
            background-color: transparent;
            padding: 0;
            padding-right: 15px;
            color: #696868;
            i {
                font-size: 1.4rem;
            }
        }
    }
}

.modal-open .modal {
    z-index: 9001;
}

.toast-message {
    color: black;
}
