/* You can add global styles to this file, and also import other style files */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 150px;
}

@media only screen and (max-width: 660px) {
    body {
        margin-bottom: 220px;
    }
}

.cal-event-container {
    margin-left: 0 !important;
    max-width: 100%;
}

.cal-event {
    white-space: initial !important;
    display: flex;
    align-items: center;
    justify-content: center;

    .cal-event-title {
        font-size: .7rem !important;
        color: white !important;
    }
}