<div class="cabecera"></div>
<div class="container">
  <div class="row">
    <div class="col-12 text-center my-3">
      <h1>Bienvenido a delonet</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in purus eros. Nunc arcu odio, lacinia in aliquet
        a, ullamcorper a lectus. Etiam accumsan nunc nisl, in mollis orci placerat id.</p>
    </div>
    <div class="col-12 col-md-5 offset-md-1 px-3">
      <div class="card">
        <img class="card-img-top" src="assets/images/swimmers2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Conviértete en socio por solo 22€/mes</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5 px-3">
      <div class="card">
        <img class="card-img-top" src="assets/images/inside-pool2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">50% de descuento en Aquagym</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    
  </div>
</div>