<div class="cabecera"></div>
<div class="container">
  <div class="row">
    <div class="col-12 text-center my-3">
      <h1>Bienvenido a delonet</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in purus eros. Nunc arcu odio, lacinia in aliquet
        a, ullamcorper a lectus. Etiam accumsan nunc nisl, in mollis orci placerat id.</p>
    </div>
    <div class="col-12 col-md-5 offset-md-1 px-3">
      <div class="card">
        <img class="card-img-top" src="assets/images/swimmers2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Conviértete en socio por solo 22€/mes</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5 px-3">
      <div class="card">
        <img class="card-img-top" src="assets/images/inside-pool2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">50% de descuento en Aquagym</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid no-gutters">
  <!-- Classes -->
  <div class="row no-gutters classes">
    <div class="col-md-3 col-sm-6 text-center">
      <img class="img-fluid" src="assets/images/newbie.jpg">
      <h4 class="class-title">Principiantes</h4>
    </div>
    <div class="col-md-3 col-sm-6 text-center">
      <img class="img-fluid" src="assets/images/advanced.jpg">
      <h4 class="class-title">Avanzados</h4>
    </div>
    <div class="col-md-3 col-sm-6 text-center">
      <img class="img-fluid" src="assets/images/back-pain.jpg">
      <h4 class="class-title">Espalda</h4>
    </div>
    <div class="col-md-3 col-sm-6 text-center">
      <img class="img-fluid" src="assets/images/aquagym.jpg">
      <h4 class="class-title">Aquagym</h4>
    </div>
  </div>
</div>

<div class="container">
  <!-- Instructors -->
  <div class="row instructor-row">
    <div class="col-md-4 p-3" *ngFor="let instructor of instructors">
      <div class="row">
        <div class="col-5">
          <img class="img-fluid rounded-circle" [src]="instructor.profile_image ? 'data:image/JPEG;base64,' + instructor.profile_image : 'assets/images/silhouette.jpg'">
        </div>
        <div class="col-7 instructor-info-container">
          <div class="instructor-info">
            <span>{{ instructor.nombre }}</span>
            <span>{{ instructor.email }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>